.structure-scene {
  .models-pane {
    padding: 10px;

    .model-row {
      line-height: 20px;
      cursor: pointer;

      &:hover {
        background: #eee;
      }
      &.selected {
        font-weight: bold;
        background: #eee;
      }
      &.changed {
        background: #cdfdcd;
      }
      &.selected.changed {
        background: #b2dcb2;
      }
    }

    .changed .changed {
      color: #080;
      margin-left: 5px;
    }
  }

  .unsaved-changes, .no-unsaved-changes {
    line-height: 30px;
    background: #549854;
    color: #fff;
    text-align: center;
  }

  .no-unsaved-changes {
    background: #efe;
    color: inherit;
  }

  table.structure-table {
    width: 100%;
    margin-right: 10px;
    margin-top: 10px;
    tbody tr {
      height: 36px;
    }
    tr {
      th {
        font-size: 14px;
      }
      td {
        font-size: 14px;
        padding: 3px;
      }
      &:hover {
        td {
          background: #eee;
        }
      }
      &.changed {
        td:first-child {
          background: #cdfdcd;
        }
        &:hover {
          td:first-child {
            background: #b6eab6;
          }
        }
      }
    }
  }

  .tag {
    text-transform: uppercase;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    color: #fff;
    background: #888;
    padding: 0 5px;
    border-radius: 2px;
    cursor: pointer;

    &.link {
      background: #008;
    }

    &.column {
      background: #080;
    }

    &.custom {
      background: #aa0;
    }

    &.enabled {
      background: #75A23B;
    }
    &.discard {
      background: #c40009;
    }
  }

  .no-wrap {
    white-space: nowrap;
  }

  .column-label {
    cursor: pointer;
    border-bottom: 1px dashed #aaa;
  }

  .edit-link {
    cursor: pointer;
    text-decoration: underline;
    color: #75A23B;
  }

  .disabled {
    .column-label {
      opacity: 0.5;
      text-decoration: line-through;
    }

    .edit-link, .tag {
      opacity: 0.5;
    }

    .meta-field {
      display: none;
    }
  }

  .input-text {
    display: inline-block;
    &.column-name {
      width: 230px;
    }
    &.meta-input {
      width: 400px;
    }
  }

  .meta-field-container {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    margin-bottom: 4px;
    &.editing {
      display: block;
    }
  }

  .meta-field {
    display: inline-block;
    white-space: nowrap;
    background: #fafafa;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 3px;
    cursor: pointer;

    .label {
      font-size: 10px;
      text-transform: uppercase;
      color: #888;
      margin-right: 3px;
      &.no-field {
        margin-right: 0;
      }
    }

    &.changed-field {
      color: #549854;
      background: #e3f7e3;
      border: 1px solid #080;
    }

    &.showing {
      overflow: hidden;
    }
  }
}
