.structure-scene {
  .models-pane {
    padding: 10px;

    .model-row {
      line-height: 20px;
      cursor: pointer;

      &:hover {
        background: #eee;
      }
      &.selected {
        font-weight: bold;
        background: #eee;
      }
    }
  }
}
