.structure-scene {
  .models-pane {
    padding: 10px;

    .model-row {
      line-height: 20px;
      cursor: pointer;

      &:hover {
        background: #eee;
      }
      &.selected {
        font-weight: bold;
        background: #eee;
      }
    }
  }

  table.structure-table {
    margin-left: 10px;
    margin-top: 10px;
    tr {
      th {
        font-size: 14px;
      }
      td {
        font-size: 14px;
        padding: 3px;
      }
      &:hover {
        td {
          background: #eee;
        }
      }
    }
  }
}
