.models-select-tree {
  .ant-tree li .ant-tree-node-content-wrapper {
    height: auto;
  }
  .tree-column-row {
    display: flex;
    .column-key {
      width: 200px;
      min-width: 25%;
    }
    .ant-tag {
      white-space: normal;
    }
  }
}
