@import "./styles/rc-tooltip.scss";
@import './styles/messg.css';
@import './styles/popup.css';
@import './styles/spinner.scss';

.insights-tab-row {
  height: 40px;
  background: #eee;
  display: flex;
  padding-left: 10px;
  align-items: center;

  div.tab-row-element {
    padding-right: 10px;
    white-space: nowrap;
    button {
      margin-bottom: 0;
    }
    input {
      box-sizing: border-box;
      display: inline-block;
      margin: 0;
    }
  }
  div.tab-row-separator {
    flex: 1;
  }
}

button.fa {
  padding: 8px 10px;
}
