.explorer-scene {
  .top-controls {
    float: left;
    button {
      margin-bottom: 0;
      margin-right: 5px;
    }
  }
  .top-pagination {
    float: right;
  }

  .explorer-tree-bar, .explorer-tree-splitter {
    background: #e8f3fd;
  }

  &.with-dashboard {
    & > .LayoutSplitter.horizontal {
      border-left-color: #e8f3fd;
      border-right-color: hsla(209, 32%, 28%, 1);
    }
  }

  & > .LayoutSplitter.horizontal {
    border-left-color: #e8f3fd;
    border-right-color: #ffffff;
    opacity: 1;
    background: #cedfeb;
    &:hover {
      border-left-color: hsla(209, 19%, 47%, 1);
      border-right-color: hsla(209, 19%, 47%, 1);
      opacity: 1;
      background: #394b59;
    }
  }

  .visible-overflow {
    overflow: visible !important;
  }
  .explorer-next-to-sidebar {
    min-width: 300px !important;
  }
}
.explorer-dashboard-layout {
  background: hsla(209, 32%, 28%, 1);
  overflow: hidden;
  .explorer-dashboard {
    min-width: 300px;
  }
}
.explorer-table-layout {
  overflow: hidden;
  > div {
    min-width: 300px;
  }
}

.ant-menu.scrollable-menu {
  overflow: scroll;
  max-height: 80vh;
}
