.explorer-tree {
  &.selected-model {
    padding: 10px;
  }

  .ant-tree {
    color: #333;
  }
  .ant-tree.ant-tree-show-line li span.ant-tree-switcher {
    background: none;
  }
  .ant-tree li {
    padding-top: 1px;
    padding-bottom: 1px;
  }
  .ant-tree-child-tree > li:first-child {
    padding-top: 2px;
  }
  .ant-tree > .ant-tree-treenode-switcher-open {
    padding-bottom: 20px;
  }

  .ant-tree > .ant-tree-treenode-switcher-close {
    padding-bottom: 20px;
  }

  .ant-tree li .ant-tree-node-content-wrapper {
    color: #333;
    min-width: calc(100% - 24px);
    .model-field-controls {
      float: right;

      .favourite-star {
        margin-left: 5px;

        &.not-in-favourites i {
          color: hsla(3, 72%, 83%, 1);

          &:hover {
            color: hsla(3, 77%, 42%, 1);
          }
        }

        &.in-favourites i {
          color: hsla(3, 77%, 42%, 1);
        }
      }

      .filter-button {
        margin-left: 5px;

        i {
          color: hsla(209, 39%, 65%, 1);
        }

        &:hover i, &.filter-filled i {
          color: hsla(209, 32%, 40%, 1)
        }
      }
    }
  }
  .ant-tree li .ant-tree-node-content-wrapper:hover {
    background: hsla(209, 34%, 85%, 1);
  }
  .ant-tree-switcher {
    i.anticon {
      color: hsla(209, 36%, 84%, 1);
      &.ant-tree-switcher-icon {
        color: #333;
      }
    }
  }

  .model-link-tag {
    margin-left: 5px;
    color: hsla(209, 45%, 52%, 1);
  }

  button {
    margin-bottom: 0;
  }

  .node {
    line-height: 20px;
    &.disabled {
      color: #aaa;
    }
    .node-entry {
      position: relative;

      &:hover, &.hover {
        background: #cedfeb;
      }
      .node-icon {
        width: 10px;
        height: 10px;
        line-height: 7px;
        box-sizing: border-box;
        font-size: 12px;
        text-align: center;
        float: left;
        margin-top: 5px;

        &.has-children {
          border: 1px solid #eee;
          &.collapsed {
            &:before {
              content: '+'
            }
          }
          &.open {
            &:before {
              content: '-'
            }
          }
        }
      }
      .node-title {
        margin-left: 14px;
        cursor: pointer;
        &:hover, &.hover {
          text-decoration: underline;
        }
        .node-selected {
          font-weight: bold;
        }
        .node-filtered {
          color: blue;
        }
        .star {
          font-style: italic;
        }
      }
      .node-controls {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        .control-button {
          border: 1px solid #aaa;
          background: white;
          padding: 0 5px;
          border-radius: 5px;
          cursor: pointer;
          &:hover, &.hover {
            background: #8eca10;
            border-color: #8eca10;
            color: #fff;
          }
        }
      }
      &:hover, &.hover {
        .node-controls {
          display: block;
        }
      }
    }
    .node-children {
      margin-left: 14px;
      .node-children {
        background: rgba(57, 75, 89, 0.1);
      }
    }
  }

  .boolean {
    background: #aaa;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    display: inline-block;
    padding: 0 3px;
    &.true {
      background: #8eca10;
    }
  }

  .count-tag {
    color: #888;
  }

  .model-list {
    .model-list-item {
      padding: 6px 10px;
      cursor: pointer;
      &:hover {
        background: #cedfeb;
      }
    }
  }
}

