.messg {
  position: fixed;
  z-index: 19999;
  left: 10px;
  right: 10px;
  border: 0 none;
  border-radius: 2px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}

@media (min-width: 768px) {
  .messg {
    left: 23%;
    right: 23%;
  }
}

@media (min-width: 992px) {
  .messg {
    left: 28%;
    right: 28%;
  }
}

@media (min-width: 1200px) {
  .messg {
    left: 33%;
    right: 33%;
  }
}

.messg--default {
  background-color: #323232;
}

.messg--success {
  background: #8cca11;
}

.messg--info {
  background-color: #00bcd4;
}

.messg--warning {
  background-color: #ff9800;
}

.messg--error {
  background: #e54f16;
}

.messg__text {
  padding: 10px 14px;
}

.messg__buttons {
  float: right;
  padding: 10px;
}

.messg,
.messg__button {
  color: #f5f5f5;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.messg__button {
  display: inline-block;
  border: 0 none;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  margin: 0 0 0 5px;
  padding: 0 6px;
  background: none;
  cursor: pointer;
}

.messg--default .messg__button {
  background-color: #212121;
}

.messg--default .messg__button:hover {
  background-color: #000;
}

.messg--success .messg__button {
  background-color: #43a047;
}

.messg--success .messg__button:hover {
  background-color: #388e3c;
}

.messg--info .messg__button {
  background-color: #00acc1;
}

.messg--info .messg__button:hover {
  background-color: #0097a7;
}

.messg--warning .messg__button {
  background-color: #fb8c00;
}

.messg--warning .messg__button:hover {
  background-color: #f57c00;
}

.messg--error .messg__button {
  background-color: #e53935;
}

.messg--error .messg__button:hover {
  background-color: #d32f2f;
}
