.explorer-dashboard {
  padding: 10px 30px 10px 24px;

  .ant-row {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .ant-statistic.with-icon {
    &.no-value {
      .ant-statistic-content-value {
        color: hsla(208, 13%, 75%, 1);
      }
      .anticon {
        color: hsla(208, 13%, 75%, 1);
      }
    }
    .ant-statistic-content-prefix {
      float: left;
    }
    .ant-statistic-content-value {
      display: inline-block;
      width: calc(100% - 40px);
      margin-left: 8px;
    }
  }

  .next-steps {
    font-size: 16px;

    .anticon {
      color: hsla(209, 61%, 37%, 1);
      transform: scale(0.833);
      margin-right: 10px;
    }
  }
}
