.explorer-dashboard {
  padding: 10px 30px 10px 24px;

  .ant-row {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .next-steps {
    font-size: 16px;

    .step-row {
      line-height: 25px;
      margin: 10px 0px;

      .anticon {
        color: hsla(209, 61%, 37%, 1);
        transform: scale(0.833);
        margin-right: 10px;
        float: left;
        padding-top: 4px;
      }
      .info {
        display: block;
        margin-left: 28px;
      }
    }
  }

  img {
    max-width: 100%;
    margin: 14px 10px 40px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    vertical-align: top;
  }

  .dashboard-summary-row {
    background: hsla(209, 53%, 31%, 1);
    border-radius: 2px;
    .ant-row {
      padding: 10px 20px;
    }
    .ant-col {
      padding: 10px 0;
    }

    .dashboard-statistic {
      &.no-value {
        .statistic-value {
          color: hsla(209, 37%, 51%, 1);
        }
        .anticon {
          color: hsla(209, 37%, 51%, 1);
        }
      }
      .statistic-title {
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        color: hsla(197, 37%, 51%, 1);
        letter-spacing: 0.4px;

      }
      .statistic-value,
      .statistic-value > .ant-btn {
        color: white;
        font-size: 22px;
        display: block;
        word-break: break-word;
        padding-left: 0px;
      }
      .anticon {
        color: white;
      }
    }
  }
}
