development:
  adapter: sqlite3
  pool: 5
  timeout: 5000
  database: db/development.sqlite3

# development:
#   adapter: postgresql
#   encoding: unicode
#   host: localhost
#   database: insights
#   pool: 5
#   variables:
#     statement_timeout: 5000

# production:
#   adapter: postgresql
#   encoding: unicode
#   host: localhost
#   database: insights
#   pool: 5
#   variables:
#     statement_timeout: 5000
