.login-scene {
  padding-top: 200px;
  .login-box {
    width: 300px;
    margin: 0 auto;
    .logo {
      font-size: 32px;
      padding-left: 110px;
      font-family: serif;
      margin-bottom: 20px;
      text-transform: uppercase;

      img {
        width: 32px;
        height: 32px;
        vertical-align: text-top;
        margin-right: 6px
      }
    }
    .field {
      display: flex;
      line-height: 30px;
      margin: 20px 0;
    }
    label {
      float: left;
      text-align: right;
      width: 100px;
      margin-right: 10px;
    }
    input {
      width: 190px;
      display: inline-block;
    }
    .simple-error {
      color: red;
      margin-left: 110px;
      margin-top: -18px;
    }
  }
}
