.login-scene {
  padding-top: calc(50vh - 230px);
  height: 100%;
  background: #162c41;

  .ant-card {
    margin: 0 auto;
    .has-error {
      .ant-form-extra {
        color: #f5222d;
      }
    }
  }

  .logo {
    font-size: 32px;
    font-family: serif;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;

    img {
      width: 32px;
      height: 32px;
      vertical-align: text-top;
      margin-right: 6px
    }
  }

  .login-box {
    .login-form-button {
      width: 100%;
    }
  }
}
