.connection-buttons {
  width: calc(100% + 1px);

  &.only-database button {
    width: 100%;
  }
  button {
    width: 50%;
    overflow: hidden;
    text-align: left;
    display: inline-flex;
    align-items: center;
    transition: none !important;
    i {
      margin-top: 1px;
      &.arrow {
        margin-top: 2px;
      }
    }
    span {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.connection-menu-header-title .ant-dropdown-menu-item-group-title {
  color: rgba(0, 0, 0, 0.65);
}
