.connections-scene {
  padding: 20px;

  .one-connection {
    margin-bottom: 20px;
    .details-edit-line {
      margin-bottom: 10px;
    }
    .details-line {
      display: flex;
      padding-top: 5px;
      small {
        width: 100px;
        min-width: 100px;
        display: inline-block;
        color: #888;
        text-align: right;
        padding-right: 10px;
        line-height: 16px;
      }
      span {
        text-align: left;
        line-height: 16px;
      }
    }
  }
}
